<ul>
  <h3>Events Created</h3>
  <% if @user.created_events.empty? %>
    <%= "None" %>
  <% end %>
  <% @user.created_events.each do |created_event| %>
      <li><%= link_to created_event.name.capitalize, created_event %></li>
  <% end %>
  <%= button_to "Create Event", new_event_path, :method => :get %>
</ul>

<ul>
  <h3>Events Attended</h3>
  <h4>Past:</h3>
  <% @user.attended_events.in_the_past.each do |past_event| %>
    <li><%= link_to past_event.name.capitalize, past_event %></li>
  <% end %>

  <h4>Future:</h3>
  <% @user.attended_events.in_the_future.each do |future_event| %>
    <li><%= link_to future_event.name.capitalize, future_event %></li>
  <% end %>
  <%= button_to "Attend New Events", events_path, :method => :get %>
</ul>
